@model List<Person>

<h1>Welcome to reg</h1>
<a asp-action="Create">Add person</a>

<div class="row shadow p-3 mb-5 bg-warning rounded">

    <div class="col-4">Name</div>
    <div class="col-4">Phonenumber</div>
    <div class="col-2">City</div>
    <div class="col-2"></div>

</div>

@foreach (Person person in Model)
{


    <partial name="_PeopleDisplay" model="person" />

}
