@model CreatePersonViewModel

@{
    ViewData["Title"] = "Index";
}

<h1> People List with Ajax</h1>

<button class="btn-dark" onclick="ajaxPeopleList('@Url.Action("PartialViewPeople", "People")')">Get people list</button>
<div class="row"></div>
<br />
<div class="form-group col-sm-11">
    <input class="form-control " type="number" name="id" id="idInput" placeholder="People Id" />
</div>
<br />
<button class="btn-dark" onclick="ajaxPost('@Url.Action("PartialViewDetails","People")', 'idInput')">Details</button>
<button class="btn-dark" onclick="ajaxPost('@Url.Action("AjaxDelete","People")', 'idInput')">Delete</button>
<br />
<hr />
<br />
<div id="result"></div>