@model Person


<div class="row shadow p-3 mb-5 bg-light rounded">
    <div class="col-4">@Model.Name</div>
    <div class="col-4 mt-2">@Model.PhoneNumber </div>
    <div class="col-2 mt-2">@Model.CityName </div>


    <button class="col-1 btn btn-dark">@Html.ActionLink("Details", "Details", "People", new { id = Model.PersonId })</button>

</div>