@model Person

<h1>Person Details</h1>
<div class="row font-weight-bold mt-3 d-flex-column align-items-lg-stretch shadow p-3 mb-5 bg-light rounded">

    <div class="col-5 mt-2">Namn</div>
    <div class="col-5 mt-2">Phonenumber</div>
    <div class="col-2 mt-2">City</div>
</div>
<div class="row shadow p-3 mb-5 bg-light rounded">
    <div class="col-5 mt-2">@Model.Name</div>
    <div class="col-5 mt-2">@Model.PhoneNumber</div>
    <div class="col-2 mt-2">@Model.CityName</div>
</div>
<a asp-action="People" class="btn btn-dark">Back to the list of people</a>
<a class="btn btn-dark" asp-controller="People" asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a>
